.container-header{display:flex;margin:2rem 1rem;align-items:center;justify-content: space-between;}
.container-header-img img{width:15rem}
.container-body{padding:0 3rem;}
.icon-color{color:#d4001b}
::ng-deep mat-icon{cursor:pointer;}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{background:#d4001b;cursor:pointer}

@media(max-width:900px) {
  .container-body{padding:0 1rem;}
}
