<div>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="{{'LABELS.GUIDES_MANAGEMENT' | translate}}">
      <form novalidate [formGroup]="formGuide" #formDirective="ngForm">
        <h2>{{'LABELS.SENDER_DATA' | translate}}</h2>
        <div class="content-container">
          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.REQUEST_DATE' | translate}} *</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateSentSender">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.IDENTITY_DOCUMENT' | translate}} *</mat-label>
            <input type="text" formControlName="documentSender" matInput maxlength="10">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.NAMES' | translate}} *</mat-label>
            <input type="text" formControlName="nameSender" matInput maxlength="50">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.LASTNAMES' | translate}} *</mat-label>
            <input type="text" formControlName="lastNameSender" matInput maxlength="50">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.PHONE' | translate}} *</mat-label>
            <input type="text" formControlName="phoneSender" matInput maxlength="10">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.DEPARTMENT' | translate}} *</mat-label>
            <mat-select formControlName="departmentSender">
              <mat-option *ngFor="let department of departmentsList" value="{{department.departamento}}">{{department.departamento}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.CITY' | translate}} *</mat-label>
            <mat-select formControlName="citySender">
              <mat-option *ngFor="let city of cityListSender" value="{{city}}">{{city}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.POSTAL_CODE' | translate}} *</mat-label>
            <input type="text" formControlName="postalCodeSender" matInput maxlength="8">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <h2>{{'LABELS.ADDRESSEE_DATA' | translate}}</h2>
        <div class="content-container">
          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.IDENTITY_DOCUMENT' | translate}} *</mat-label>
            <input type="text" formControlName="documentAddressee" matInput maxlength="10">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.NAMES' | translate}} *</mat-label>
            <input type="text" formControlName="nameAddressee" matInput maxlength="50">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.LASTNAMES' | translate}} *</mat-label>
            <input type="text" formControlName="lastNameAddressee" matInput maxlength="50">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.PHONE' | translate}} *</mat-label>
            <input type="text" formControlName="phoneAddressee"  matInput maxlength="10">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.DEPARTMENT' | translate}} *</mat-label>
            <mat-select formControlName="departmentAddressee">
              <mat-option *ngFor="let department of departmentsList" value="{{department.departamento}}">{{department.departamento}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.CITY' | translate}} *</mat-label>
            <mat-select formControlName="cityAddressee">
              <mat-option *ngFor="let city of cityListAddressee" value="{{city}}">{{city}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.ADDRESS' | translate}} *</mat-label>
            <input type="text" formControlName="addressAddressee" matInput maxlength="50">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.POSTAL_CODE' | translate}} *</mat-label>
            <input type="text" formControlName="postalCodeAddressee" matInput maxlength="8">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <h2>{{'LABELS.GUIDE_DATA' | translate}}</h2>
        <div class="content-container">
          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.CONTENT' | translate}} *</mat-label>
            <input type="text" formControlName="contentGuide" matInput maxlength="50">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.WEIGHT' | translate}} *</mat-label>
            <input type="number" formControlName="weightGuide" matInput maxlength="10">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.UNIT' | translate}} * </mat-label>
            <mat-select formControlName="unitGuide">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="2">3</mat-option>
              <mat-option value="2">4</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.VOLUME' | translate}} *</mat-label>
            <input type="number" formControlName="volumeGuide" matInput maxlength="10">
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>{{'LABELS.DECLARED_VALUE' | translate}} *</mat-label>
            <input type="number" formControlName="declaredValueGuide" matInput class="amount-input" placeholder="0">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>{{'LABELS.SERVICE_VALUE' | translate}} *</mat-label>
            <input type="number" formControlName="serviceValueGuide" matInput class="amount-input" placeholder="0">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>{{'LABELS.OTHER_COST' | translate}} *</mat-label>
            <input type="number" formControlName="othersValueGuide" matInput class="amount-input" placeholder="0">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
            <mat-error>
              {{'ERRORS.OBLIGATORY_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'LABELS.NOTES' | translate}}</mat-label>
            <input type="text" formControlName="notesGuide" matInput maxlength="100">
          </mat-form-field>
        </div>
        <div class="content-footer">
          <button mat-raised-button color="warn" (click)="newGuide()" [disabled]="formGuide.invalid">{{'BUTTONS.NEW_GUIDE' | translate}}</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="{{'LABELS.HISTORY_GUIDES' | translate}}">
      <div class="content-history">
        <table mat-table [dataSource]="listGuides" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index"> 1</td>
          </ng-container>

          <ng-container matColumnDef="date_admission">
            <th mat-header-cell *matHeaderCellDef>{{'LABELS.REQUEST_DATE' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.date_admission}}</td>
          </ng-container>

          <ng-container matColumnDef="origin_city">
            <th mat-header-cell *matHeaderCellDef>{{'LABELS.ORIGIN_CITY' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.origin_city}}</td>
          </ng-container>

          <ng-container matColumnDef="destination_city">
            <th mat-header-cell *matHeaderCellDef>{{'LABELS.TARGET_CITY' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.destination_city}}</td>
          </ng-container>

          <ng-container matColumnDef="content_guide">
            <th mat-header-cell *matHeaderCellDef>{{'LABELS.CONTENT' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.content_guide}}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{'LABELS.STATUS' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{'LABELS.STATUS_GUIDE.' + element.status_guide | translate}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
